<!--The content below is only a placeholder and can be replaced.-->
<div class="container" style="padding: 5px">
  <nav class=" navbar navbar-expand-sm  bg-danger navbar-light">
    <ul class="navbar-nav" >
      <li routerActiveLink="Active" class="nav-item Active">
      <a routerLink='clickcomponent' class="nav-link" style="color: aliceblue">Click Event</a>
      </li>
      <li routerActiveLink="Active" class="nav-item Active">
<a class="nav-link" routerLink='keyup' style="color: aliceblue">Keyup Event</a>
      </li>
      <li class="nav-item" routerActiveLink="Active">
        <a class="nav-link" routerLink="loopback" style="color: aliceblue">Keyup with Hash(#) </a>
      </li>
      <li class="nav-item" routerActiveLink="Active">
          <a class="nav-link" routerLink="hoverevent" style="color: aliceblue">Hover Events</a>
        </li>
      </ul>
  </nav>

</div>
 
<router-outlet></router-outlet>
